<div class="container" style="margin-top: 2%; text-align: center;">
    <div class="row">
      <div class="col">
        <div >
          {{indice + 1}}. {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} con cargo de {{empleadoDeLista.cargo}} tiene un salario de {{empleadoDeLista.salario}}.
          <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion: '1'}">
            Actualiza
          </a>
          &nbsp;
          &nbsp;
          <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion: '2'}">
            Elimina
          </a>
        </div>

        <app-caracteristicas-empleado-c (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
        <ul style="list-style: none;">
          <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
        </ul>
      </div>
    </div>
  </div>