<div class="container">
    <div class="col" style="margin-top: 2%; text-align: center;">
      <h1>{{titulo}}</h1>
      <br>
      <br>
      <form class="form-group row">
        <div class="form-group col-md-3">
          <label for="nombre" style="font-weight: bold;">Nombre</label>
          <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
        </div>
        <div class="form-group col-md-3">
          <label for="apellido" style="font-weight: bold;">Apellido</label>
          <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido">
        </div>
        <div class="form-group col-md-3">
          <label for="cargo" style="font-weight: bold;">Cargo</label>
          <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo">
        </div>
        <div class="form-group col-md-3">
          <label for="salario" style="font-weight: bold;">Salario</label>
          <input type="number" name="salario" id="salario" placeholder="Salario" class="form-control" [(ngModel)]="cuadroSalario">
        </div>
  
        <div class="col">
          <button type="submit" class="btn btn-primary" (click)="agregarEmpleado()">Agregar Empleado</button>
        </div>
      </form>
    </div>
  </div>
  
  <br>
  <br>
  <app-empleado-hijo-c *ngFor="let empleado of empleados; let i = index" [empleadoDeLista]="empleado" [indice]="i"></app-empleado-hijo-c>
  
  <!-- <div class="container" style="margin-top: 2%; text-align: center;">
    <div class="row">
      <div class="col">
        <div *ngFor="let empleado of empleados; let i = index">
          {{i + 1}}. {{empleado.nombre}} {{empleado.apellido}} con cargo de {{empleado.cargo}} tiene un salario de {{empleado.salario}}.
        </div>
      </div>
    </div>
  </div> -->