<h1 style="text-align: center;">{{titulo}}</h1>

<form style="text-align: center;">
  <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="nombre">
  <br>
  <br>
  <input type="text" name="apellidos" placeholder="Apellidos" [(ngModel)]="apellidos">
  <br>
  <br>
  <input type="text" name="cargo" placeholder="Cargo" [(ngModel)]="cargo">
  <br>
  <br>
  <input type="submit" name="Registrar" (click)="registrarUsuario()">
</form>

<br>
<!-- <p *ngIf="registrado; else sinRegistrar" style="text-align: center;">{{mensaje}} con el nombre de {{nombre}} {{apellidos}} y tiene el cargo de <span [ngStyle]="{'color': cargo == 'director' ? 'red' : 'black'}">{{cargo}}</span></p> -->
<p *ngIf="registrado; else sinRegistrar" style="text-align: center;">{{mensaje}} con el nombre de {{nombre}} {{apellidos}} y tiene el cargo de <span [ngClass]="{paraDirectores: cargo == 'director' || 'directora'}">{{cargo}}</span></p>

<ng-template #sinRegistrar>
  <p style="text-align: center;">Nadie registrado!</p>
</ng-template>

<br>
<br>

<ul>
  <li *ngFor="let entrada of entradas; let i = index">
    <span style="font-size: larger; font-weight: bold;">{{entrada.titulo}}</span>
    . Entrada {{i + 1}} <!-- Número de entrada -->
  </li>
</ul>

<button class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400">
  Hello
</button>