<p>actualiza-component works!</p>

<form class="form-group row" style="margin: auto;">
    <div class="form-group col-md-3">
      <label for="nombre" style="font-weight: bold;">Nombre</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
    </div>
    <div class="form-group col-md-3">
      <label for="apellido" style="font-weight: bold;">Apellido</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido">
    </div>
    <div class="form-group col-md-3">
      <label for="cargo" style="font-weight: bold;">Cargo</label>
      <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo">
    </div>
    <div class="form-group col-md-3">
      <label for="salario" style="font-weight: bold;">Salario</label>
      <input type="number" name="salario" id="salario" placeholder="Salario" class="form-control" [(ngModel)]="cuadroSalario">
    </div>

    <div class="col">
      <!-- <button type="submit" class="btn btn-primary" (click)="actualizaEmpleado()">Modificar</button> -->
      <button type="submit" class="btn btn-primary" (click)="actualizaEmpleado()">Acción</button>
      <!-- <button type="submit" class="btn btn-danger" style="margin-left: 10px;" (click)="eliminaEmpleado()">Eliminar</button> -->
    </div>
</form>

<div style="text-align: center;">
    <button class="btn btn-primary" (click)="volverHome()">Ir a inicio</button>
</div>