<div style="margin-top: 5px;">
    <label style="padding-right: 5px;">Característica del empleado: </label>
    <input type="text" #nuevaCaracteristica style="margin-right: 5px;">
    <button (click)="agregaCaracteristicas(nuevaCaracteristica.value)" class="btn btn-primary">Añadir característica</button>
</div>