<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="/proyectos" class="nav-link">Proyectos</a>
    </li>
    <li class="nav-item">
      <a href="/quienes" class="nav-link">Quiénes somos</a>
    </li>
    <li class="nav-item">
      <a href="/contacto" class="nav-link">Contacto</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
