<h1>{{title}}</h1>

<div class="container">
  <form>
    Número 1: <input type="text" [(ngModel)]="numero1" name="numero1">
    <br>
    <br>
    Número 2: <input type="text"[(ngModel)]="numero2" name="numero2">
    <br>
    <br>
    <input style="margin-right: 5px;" type="button" value="Sumar" (click)="sumar()">
    <input type="button" value="Restar" (click)="restar()" class="btn btn-primary">
  </form>
</div>

<p>Resultado: {{resultado}}</p>

<router-outlet></router-outlet>
