p, input {
    padding-top: 5px;
    margin-left: 5%;
}

div{
    background-color: aquamarine;
    width: 20%;
    padding: 10px 0;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px gray;
    margin: 10px auto;
}