<div>
    <p>Nombre del empleado: {{nombre}}</p>

    <p>Apellido del empleado: {{apellido}}</p>

    <!-- Interpolación -->
    <p>Edad del empleado: {{edad}}{{edad<18 ? ", menor de edad.":", mayor de edad."}} </p>

    <p>Empresa: {{empresa}}</p>

    <!-- <p>Empresa: {{empresa.value}}</p> -->

    <p>Estado del empleado en la empresa: {{getEstado()}}</p>
</div>

<div style="padding-left: 10px;">
    <!-- Para que se ponga mientras escribes, keyup -->
    <!-- Introduce la empresa: <input type="text" #empresa (keyup)="0" disabled="false"> -->
    <!-- Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro"> -->
    <!-- Introduce la empresa: <input type="text" (input)="cambiaEmpresa($event)"> -->
    Introduce la empresa: <input type="text" [(ngModel)] = "empresa">
    <br>
    <br>
    <!-- <input type="button" value="Dale!" (click)="llamaEmpresa(empresa.value)"> -->
    <br>
    <br>
    {{textoDeRegistro}}
    <br>
    <br>
    <!-- Registrado: <input type="checkbox" id="registro" [checked]="usuRegistrado" (click)="setUsuarioRegistrado()"> -->
    Registrado: <input type="radio" value="si" name="nRegistro" id="registro" [checked]="usuRegistrado" (click)="setUsuarioRegistrado($event)">
    <br>
    <br>
    No registrado: <input type="radio" value="no" name="nRegistro" (click)="setUsuarioRegistrado($event)">

    {{getRegistroUsuario()}}
</div>
